.teamContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  padding-bottom: 6rem;
}
.teamContainer .teamInfo {
  text-align: center;
}
