.containerPlayersSection {
  width: 70%;
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 5rem;
  text-align: center;
}

.containerPlayersSection .button {
  margin-top: 2rem;
}
@media screen and (max-width: 1024px) {
  .containerPlayersSection {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .containerPlayersSection {
    width: 100%;
    padding: 5rem 2rem;
  }
}
.swiper-button-prev,
.swiper-button-next {
  color: #000;
  opacity: 0.75;
}
.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  left: 0;
}
